doctype html
head
    title Show Book
    link(rel="stylesheet" href="./css/bootstrap.min.css")
body
    h1(class="display-3")= "Book details for id: " + bookID
    form(action='/showBook' method='delete')
        each object in objects
            if object.id === bookID
                table(class="table")
                    thead
                        tr
                            th( scope="col") ID
                            th( scope="col") Title
                            th( scope="col") Author
                            th( scope="col") Year Written
                            th( scope="col") Edition
                            th( scope="col") Price
                            th( scope="col")
                    tbody
                        tr(class="table-success")
                            th(scope="row")= object.id
                            td= object.title
                            td= object.author
                            td= object.year_written
                            td= object.edition
                            td= object.price
                            td
                                input(class="btn btn-outline-secondary" type="button" value="Delete" onclick=`location.href='/delete/${object.id}'`)
    input(type="button" class="btn btn-outline-primary" onclick="location.href='/form'" value="Back to Form")
    input(type="button" class="btn btn-outline-primary" onclick="location.href='/showAll'" value="Show all books")