doctype html
html
    head
        title All Books
        link(rel="stylesheet" href="./css/bootstrap.min.css")
    body
        H1(class="display-3") All Books
        table(class="table table-striped")
            thead
                tr
                    th( scope="col") ID
                    th( scope="col") Title
                    th( scope="col") Author
                    th( scope="col") Year Written
                    th( scope="col") Edition
                    th( scope="col") Price

            tbody
                each object in objects
                    tr
                        th(scope="row")= object.id
                        td= object.title
                        td= object.author
                        td= object.year_written
                        td= object.edition
                        td= object.price
        button(type="button" class="btn btn-outline-primary")
            a(href="/form" ) Back to Form